/* Font links */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Common styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #070d24;
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    width: 100%;
}


.bar {
    display: flex;
    flex-direction: row;
    background-color: #1f2535;
    color: white;
    width: 60%;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;

}

.logo {
    display: flex;
}

.logo-icon {
    width: 9rem;
}

.modes {
    display: flex;
    align-items: center;
}

.mode {
    display: none;
    flex-direction: row;
}

.mode.active {
    display: flex;
    background-color:#2f354b ;
    border-radius: 7.5px;
    transition:  border 0.2s;
}

.mode.active:hover{
    border: solid 0.01px #dd5854;
    cursor: pointer;
}

.mode.active img {
    width: 1.8rem;
    padding: 7px;

}

/* CONTAINER **************/

.container {
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    flex-direction: column;
}

/*HEAD CONTAINER  */

.head-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.title {
    color: white;
    font-weight: 700;
    font-size: clamp(1rem, 3vw, 1.75rem);
}

.buttons {
    display: flex;
    gap: 20px;
    min-width: 1rem;
}

.bt {
    border-radius: 15px;
    border: white;
    padding: 0px 13px;
    background-color: #1f2535;
    color: white;
    min-width: 40px;
    max-height: 35px;
    cursor: pointer;
}

.bt:hover {
    background-color: #dd5854;
    color: hsl(227, 75%, 14%);
}


/* LIST EXTENSIONS ***********************************/

.list-container{
    display: grid;
    margin-top: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.extension{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: #1f2535;
    border:  00.5px solid grey;
}


.icon{
    width: 50px;
    margin: 0 auto;
    
}
.information{
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-bottom: 2.2rem;
}


.ex-title{
    margin-bottom: 0.3rem;
    color: white;
    font-weight: 600;
}

.ex-subtitle{
    font-size: 12px;
    font-weight: 520;
    color: grey;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* MEDIAS */

@media (max-width: 1500px){


    .bar{
        width: 85%;
    }
    .container{
        width: 85%;
    }


}

